<article class="card card--highlighted" role="article">
  <a class="card__link" href="{{ url }}">
	  <div class="card__type">{{ type }}</div>
    <h2 class="card__title">{{ pageTitle }}</h2>
	  <h3 class="card__subtitle">{{ subtitle }}</h3>
	  <div class="card__date">{% include "base-medium-date" %}</div>
  </a>
</article>
