// @file
// Default styling of html elements.

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  // Universal transitions
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function: ease-in-out;
}

a {
  background-color: transparent;
  color: $link-color;
  // Improves readability when focused.
  outline-offset: em(2px);
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &[href$=".pdf"]:after {
    @include svg-background(icon-pdf);
    content: '';
    display: inline-block;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 0.75em;
    margin-left: 0.25em;
    width: 0.75em;
  }
}



abbr {
  &[title] {
    border-bottom: 1px dotted;
  }

  &:hover {
    cursor: help;
  }
}

address {}

article {}

aside {}

audio {}

b {}

blockquote {
  margin: 0 1.5em em($base-line-height);
}

body {
  background-color: $body-color;
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

// Don’t style button elements, since they’re often styled as links for
// accessible widgets. Use the .button class in partials/components/buttons.
button {
  overflow: visible;
}

canvas {}

caption {
  font-weight: 600;
  padding: 0 rem(20px) rem(14px);
}

cite {}

code {}

col {}

colgroup {}

datalist {}

dd {
  margin-bottom: em($base-line-height);
}

del {}

details {}

dfn {
  font-style: italic;
}

dl {
  margin: 0 0 em($base-line-height);
}

dt {}

em {}

embed {}

fieldset {}

figcaption {}

figure {
  margin: 0 0 em($base-line-height);
}

footer {}

form {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    // Correct margin displayed oddly in IE 6/7.
    margin: 0;
  }
}

%hN {
  color: $heading-text-color;
  font-weight: 400;
  hyphens: none;
  line-height: 1.25;
  margin: 0 0 rem(10px);
  text-rendering: optimizeLegibility;
}

h1,
%h1 {
  @extend %hN;
  @extend %secondary-font-family;
  color: $cbcny-blue;
  font-size: rem(map-get($font-size, xxxl));
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.15;
  margin-bottom: 0;
}

h2,
%h2 {
  @extend %hN;
  color: $cbcny-dark-blue;
  font-size: rem(map-get($font-size, xxl));
  font-weight: 700;
  line-height: 1.3;
}

h3,
%h3 {
  @extend %hN;
  font-size: rem(map-get($font-size, l));
  font-weight: 600;
}

h4,
%h4,
h5,
h6 {
  @extend %hN;
  font-size: rem(map-get($font-size, m));
  font-weight: 700;
}

h5 {
  color: $cbcny-blue;
}

header {}

hr {
  border: 1px solid $cbcny-light-gray;
  box-sizing: content-box;
  height: 0;
  margin: em($base-line-height) 0;
  padding-bottom: -1px;
}

html {
  @extend %base-font-family;
  @include border-box;
  font-size: 100% * ($base-font-size / 16px);
  hyphens: none;
  line-height: $base-line-height;
  min-height: 100%;
  text-size-adjust: 100%;
}

i {}

iframe {
  border: 0;
}

img {
  border: 0;
  font-style: italic; // Makes alt text stand out from surrounding text.
  @if $legacy-support-for-ie7 {
    // Improve image quality when scaled in IE 7.
    -ms-interpolation-mode: bicubic;
  }
  @if $legacy-support-for-ie8 {
    // Correct IE 8 not scaling image height when resized.
    width: auto;
  }
}

// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/buttons.
input {
  line-height: normal;
}

input[type='button'] {}
input[type='checkbox'] {}
input[type='color'] {}
input[type='date'] {}
input[type='datetime'] {}
input[type='datetime-local'] {}
input[type='email'] {}
input[type='file'] {}
input[type='image'] {}
input[type='month'] {}
input[type='number'] {}
input[type='password'] {}
input[type='radio'] {}
input[type='range'] {}
input[type='reset'] {}
input[type='search'] {}
input[type='submit'] {}
input[type='tel'] {}
input[type='text'] {}
input[type='time'] {}
input[type='url'] {}
input[type='week'] {}

ins {}

kbd {}

label {}

legend {
  border: 0;
  margin: 0;
  padding: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *margin-left: -7px; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        *margin-left: 0;
        *margin-right: -7px;
      }
    }
  }
}

li {
  line-height: 1.5;
  margin-bottom: rem(15px);
  padding-left: rem(8px); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: rem(8px);
    }
  }
}

main {}

mark {
  background: #ff0;
  color: #000;
}

menu {}

menuitem {}

meter {}

nav {}

object {}

ol {
  margin: 0 0 em($base-line-height);
  padding: 0 0 0 1.5em; // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 1.5em 0 0;
    }
  }

  ol,
  ul {
    margin: rem(15px) 0 0;
  }

  ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  ol ol,
  ol ol ol ol {
    list-style-type: decimal;
  }
}

optgroup {
  font-weight: bold;
}

option {}

output {}

p {
  margin: 0 0 em($base-line-height);
}

param {}

pre {
  margin: 0 0 em($base-line-height);
  overflow: auto;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

progress {}

q {}

s {}

samp {}

section {}

select {}

small {
  font-size: em(map-get($font-size, xs));
}

strong {}

sub {
  bottom: -0.25em;
}

summary {}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 0 em($base-line-height);
}

tbody {}

td {
  background-color: $cbcny-off-white;
  border-bottom: 2px solid $cbcny-white;
  color: $cbcny-extra-dark-gray;
  font-size: em(map-get($font-size, xs));
  line-height: 1.2;
  padding: rem(13px) rem(20px);
}

textarea {
  overflow: auto;
}

tfoot {}

th {
  border-bottom: 2px transparent;
  color: $cbcny-dark-blue;
  font-size: em(map-get($font-size, xs));
  font-weight: 600;
  line-height: 1.2;
  padding: rem(13px) rem(20px);

  tfoot & {
    background-color: $cbcny-light-blue;
    border: 0;
    color: $cbcny-white;
    font-size: em(map-get($font-size, xxs));
    line-height: 1.1;
    padding: rem(18px) rem(20px) rem(15px);
    text-align: left;

    &:first-child:empty {
      background-color: transparent;
    }
  }

  thead & {
    border: 0;
    padding: 0 rem(20px) rem(14px);
  }
}

thead {}

time {}

tr {}

u {}

ul {
  list-style-image: url(../images/bg/bullet--square.svg);
  margin: 0 0 em($base-line-height);
  padding: 0 0 0 1.2em; // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 1.2em 0 0;
    }
  }

  ol,
  ul {
    margin: rem(15px) 0 0;
  }

  ul {
    list-style-image: url(../images/bg/bullet--small.svg);
  }
}

var {}

video {}

// Default print styles.
@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
      -ms-filter: none !important;
      filter: none !important;
    }
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    font-family: $base-font-family;
    content: ' <' attr(href) '>';
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase;
  }

  // Uncomment and replace example.com with your site’s domain.
  //a[href^='/']:after {
  //  content: ' <http://example.com' attr(href) '>';
  //}

  a[href^='javascript:']:after,
  a[href^='mailto:']:after,
  a[href^='tel:']:after,
  a[href^='#']:after,
  a[href*='?']:after {
    content: '';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  blockquote,
  img,
  li,
  pre,
  tr {
    page-break-inside: avoid;
  }

  h1 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }

  iframe,
  nav {
    display: none;
  }

  img {
    max-width: 100% !important;
  }

  thead {
    display: table-header-group;
  }

  @page {
    margin: 2cm;
  }
}
