<section class="section section--video-embed">
  {% include "components-video" %}
  <div class="video__caption">This is an example of a video with a caption. Video captions, also known as cutlines, are a few lines of text used to explain or elaborate on published videos.</div>
</section>
