// @file
// Styles for the utility

.nav--utility {
  @extend %nav--inline;
  background-color: $cbcny-blue;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: right;

  > .nav__item {
	  padding-right: 43px;
	  
	  &:last-child {
	  	padding-right: 0;
	  }

	  > .nav__link {
	  	background-position: 100% 50%;
	  	background-repeat: no-repeat;
	  	color: #fff;
	  	font-family: $base-font-family;
	  	font-size: .82em;
	  	padding-right: 29px;

	  	&.nav__link--contactus {
	  		@include svg-background(icon-contactus);
	  		background-size: 20px 16px;
	  	}
	  	&.nav__link--subscribe {
	  		@include svg-background(icon-subscribe);
	  		background-size: 16px 16px;
	  	}
	  	&.nav__link--donate {
	  		@include svg-background(icon-donate);
	  		background-size: 16px 16px;
	  	}
	  	&.nav__link--search {
	  		@include svg-background(icon-search);
	  		background-size: 20px 16px;
	  	}
	  }
	}

	&.scrolled {
		background-color: transparent;
		padding: 0;
		text-align: left;
		
		> .nav__item {
			padding-right: 22px;
		
			> .nav__link {
				font-size: 0;
				height: 16px;
				overflow: hidden;
				padding-right: 0;
				text-indent: 100%;
				white-space: nowrap;
				width: 20px;
			}
		}
	}

  @media print {
    display: none;
  }
}
