// @file
// Styles for the main menu.

.nav--main {
  @extend %nav--inline;
  margin: 0;

  .nav__item {
    font-size: .9em;
    padding-right: 23px;

    .is_stuck & {
      font-size: 78%;
      padding-right: 26px;
    }

    &:last-child {
      padding-right: 0;
    }

    @include breakpoint($bp-larger-site-logo) {
      font-size: 1em;
      padding-right: 36px;
    }
  }

  .nav__link {
    color: $cbcny-dark-gray;
    font-weight: 500;
    text-transform: uppercase;

    &:focus,
    &:hover,
    &.active {
      color: $cbcny-blue;
    }
  }

  @media print {
    display: none;
  }
}
