<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #007faa;"></span>
    <span class="sg-label">#007faa</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #004963;"></span>
    <span class="sg-label">#004963</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0c5772;"></span>
    <span class="sg-label">#0c5772</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0194d3;"></span>
    <span class="sg-label">#0194d3</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #12afe4;"></span>
    <span class="sg-label">#12afe4</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #edbd2a;"></span>
    <span class="sg-label">#edbd2a</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e1f0f5;"></span>
    <span class="sg-label">#e1f0f5</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5c813e;"></span>
    <span class="sg-label">#5c813e</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #383838;"></span>
    <span class="sg-label">#383838</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #414141;"></span>
    <span class="sg-label">#414141</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4b4b4b;"></span>
    <span class="sg-label">#4b4b4b</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #616161;"></span>
    <span class="sg-label">#616161</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #999999;"></span>
    <span class="sg-label">#999999</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #b9b9b9;"></span>
    <span class="sg-label">#b9b9b9</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e8e8e8;"></span>
    <span class="sg-label">#e8e8e8</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">#ffffff</span>
  </li>
</ul>
