// @file
// Button styles

$button-color-bg: #fff !default;
$button-color-text: $cbcny-blue !default;
$button-font-size: 15px;
$button-gradient-top: $gradient-light !default;
$button-gradient-bottom: $gradient-dark !default;

@mixin button($bg-color: $button-color-bg, $text-color: $button-color-text, $font-size: $button-font-size) {
  @extend %base-font-family;
  background-color: $bg-color;
  border: none;
  box-shadow: 0 3px 10px -4px rgba(0, 0, 0, .49);
  color: $button-color-text;
  cursor: pointer;
  display: inline-block;
  font-size: rem($font-size);
  line-height: 1.2;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  vertical-align: baseline;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *line-height: normal;
    *zoom: 1;
  }

  &:focus,
  &:hover {
    box-shadow: 0 3px 21px -4px rgba(0, 0, 0, .66);
    color: #12afe4;
    outline: 0;
  }

  &:active {
    box-shadow: 0 3px 21px -4px rgba(0, 0, 0, .66);
    color: #12afe4;
  }
}