<article class="node node--type-page node--display-mode-full" role="article">
  {% include "components-post-heading" %}
  <div class="post-body l-constrain-narrow">
  	{% include "components-published-date" %}
  	{% include "components-full-text" %}
  	{% include "components-chart-embed" %}
  </div>
</article>
