<article class="node node--type-topics node--display-mode-full" role="article">
  {% include "components-topics-heading" %}
  <div class="post-body l-constrain-narrow">
  	{% include "components-share-links" %}
  	{% include "components-introduction" %}
  	{% include "components-topics-menu" %}
  </div>
</article>
