<section class="section section--footnotes">
  <h2 id="Footnotes" class="heading heading--h3 heading--green">Footnotes</h2>
  <ol>
    <li>New York State Division of the Budget, FY 2017 Economic & Revenue Outlook (January 2016), p. 5,
      <a href="http://publications.budget.ny.gov/eBudget1617/economicRevenueOutlook/economicRevenueOutlook.pdf">http://publications.budget.ny.gov/eBudget1617/economicRevenueOutlook/economicRevenueOutlook.pdf</a>.
    </li>
    <li>New York State Division of the Budget, FY 2017 Enacted Budget Financial Plan (May 2016), p. 65,
      <a href="http://publications.budget.ny.gov/budgetFP/FY2017FP.pdf">http://publications.budget.ny.gov/budgetFP/FY2017FP.pdf</a>.
    </li>
  </ol>
</section>
