<div class="pullquote">
  <div class="pullquote__item">Pullquote with attribution. Sadly, sadly, the sun rose; it rose upon no sadder sight than the man of good abilities and good emotions, incapable of their directed exercise, incapable of his own help and his own happiness, sensible of the blight on him, and resigning himself to let it eat him away.</div>
</div>

<div class="pullquote">
  <div class="pullquote__item">Pullquote with attribution. Sadly, sadly, the sun rose; it rose upon no sadder sight than the man of good abilities and good emotions, incapable of their directed exercise, incapable of his own help and his own happiness, sensible of the blight on him, and resigning himself to let it eat him away.</div>
  <div class="pullquote__attribution">Charles Dickens - A Tale of Two Cities</div>
</div>
