{#
/**
 * @file
 * Theme override to display the navigation region.
 */
#}
<div class="region-navigation">
  <div class="region-navigation__inner l-constrain">
    {% block content %}
      {% if content %}
        {{ content }}
      {% endif %}
    {% endblock %}
  </div>
</div>
