{% if type or topic %}
  <div class="page-info">
    {% if type %}<span class="page-info__item">{{ type }}</span>{% endif %}
    {% if topic %}<span class="page-info__item">{{ topic }}</span>{% endif %}
  </div>
{% endif %}
