<section class="section section--aside">
  <div class="aside__content">
    <p>Aside paragraph section. Contains information that is related to the article.</p>

    <p>Here is a <a href="foo.pdf">Link that goes to a download such as a PDF</a>, and <a href="foo.pdf">“Recessions and Revenues: The Case of the MTA” (December 2015)</a>.</p>

    <h2>Heading Level 2</h2>

    <p>And so, under a short grove of feebler and feebler over-swinging lamps, out under the great grove of stars. Beneath that arch of unmoved and eternal lights; some, so remote from this little earth that the learned tell us it is doubtful whether their rays have even yet discovered it, as a point in space where anything is suffered or done: the shadows of the night were broad and black.</p>

    <ul>
      <li>These bullet styles are slightly different than bullet styles inside the main copy.</li>
      <li>
        Beneath that arch of unmoved and eternal lights; some, so remote from this little earth that the learned tell us it is doubtful whether their rays have even yet discovered it.
        <ul>
          <li>This is a nested list item</li>
          <li>This is another nested list item in an unordered list</li>
        </ul>
      </li>
      <li>As a point in space where anything is suffered or done: the shadows of the night were broad and black.</li>
    </ul>
  </div>
</section>
