<section class="section section--download-callout">
	<div class="callout__content">
    <p>Download our report on the 2017 New York State budget.<br><a href="file.pdf">Here is the download link</a></p>
  </div>
</section>

<div class="section section--download-callout">
  <div class="callout__content">
    <h2>Optional Heading</h2>
    <p>Download our report on the 2017 New York State budget.<br><a href="file.pdf">Here is the download link</a></p>
  </div>
</div>
