<section class="section section--toc">
	<div class="button toc-button">Expand Table of Contents</div>
	<div class="nav--toc">
    <h2 class="nav--toc__heading"><a href="#" class="close-toc">Hide Table of Contents</a></h2>
    <nav class="nav--toc__menu"></nav>
  </div>
</section>