{% include "layouts-header-region" %}
{% include "layouts-navigation-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <article class="section-page" role="article">
    {% include "components-hero-section-page" %}
    <div class="l-constrain">
      <section class="card-grid">
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card--highlighted" %}
      </section>
      <div class="centered"><a class="button button--blue" href="#">More on New York City Budget</a></div>
    </div>
    <section class="section section--topics">
      <h2 class="heading--yellow centered">EXPLORE OTHER TOPICS</h2>
      <div class="l-constrain">
        {% include "components-slick-carousel-topics--section" %}
      </div>
    </section>
  </article>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
