// @file
// Styles for explore other topics.

.section--topics {
  background-color: #346a7b;;
  background-image: url(../images/bkgd-topics-slider.png);
  background-position: 0px 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1.5em 0 0;
  padding-bottom: em(50px);
  padding-top: em(50px);
  text-align: center;

  @include breakpoint($bp-hide-mobile-menu) {
    margin: 5em 0 0;
  }

    h2 {
    font-size: 1.61em;
    margin-bottom: rem(60px);
  }
}
