// @file
// Styles for the video embed.

.section--video-embed {
  background-color: $cbcny-white;
  margin-bottom: em($base-line-height, map-get($font-size, l));

  .section__caption {
    background-color: $cbcny-white;
    color: $cbcny-dark-gray;
    font-size: em(map-get($font-size, s));
    line-height: 1.5;
    padding: em(15px) em(20px);
  }

}
