{#
/**
 * @file
 * Default theme implementation for rendering the CBC status bar block.
 *
 * Available variables:
 * - message: The HTML text to display in the block.
 *
 * @ingroup themeable
 */
#}
<div role="alert" aria-label="CBCNY alert" id="cbc-status-bar">
  <p>{{ message }}</p>
</div>