{% extends "block--no-wrapper.html.twig" %}
{#
/**
 * @file
 * Theme override for the site branding block.
 */
#}
{% block content %}
  {% if site_logo %}
    <a class="site-logo" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{% if site_name %}{{ site_name }}{% else %}Home{% endif %}</a>
  {% endif %}
{% endblock %}
