// @file
// Styles for the video embed.

// @file
// Styles for figures.

.section--video-embed {
  background-color: $cbcny-white;

  .video__caption {
    background-color: $cbcny-white;
    color: $cbcny-dark-gray;
    font-size: em(map-get($font-size, s));
    line-height: 1.5;
    padding: em(15px) em(20px);
  }

}
