// @file
// Styles for explore other topics.

.section--topics {
  background-color: $cbcny-flat-blue;
  background-image: url(../images/bkgd-topics-slider.png);
  background-position: 0px 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5em 0 0;
  padding-bottom: em(100px);
  padding-top: em(53px);
  text-align: center;

  h2 {
    font-size: 1.61em;
    margin-bottom: rem(83px);
  }
}
