// @file
// Styles for .section--type-download-callout

.section--type-download-callout {
	background-color: #e1f0f5;
	border-bottom: 1px solid #cbdce2;
	color: #4d4d4d;
  font-size: 1.1em;
  margin-bottom: 37px;
  padding: 30px 50px;
  
  .field--name-field-heading-plain {
  	@extend h2;
    color: #004963;
    font-family: 'Lato semibold', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0px;
  } 
}