// @file
// Styles for explore other topics.

.section--explore {
  background-color: $cbcny-flat-blue;
  background-image: url(http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d1e065583ea92a06ae343b_cankle-bg.png);
  background-position: 0px 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5em;
  padding-bottom: em(100px);
  padding-top: em(53px);
  text-align: center;

  h2 {
    font-size: 1.61em;
    margin-bottom: rem(83px);
  }
}
