<footer class="footer" role="contentinfo">
  <div class="footer__inner l-constrain">
    <div class="footer__top">
  		{% include "components-spread-the-word-links" %}
      {% include "components-stay-updated-callout" %}
    </div>
    <div class="footer__middle">
      {% include "components-cbcny-about" %}
      {% include "components-cbcny-footer-logo" %}
      {% include "components-cbcny-address" %}
    </div>
    <div class="footer__bottom">
      {% include "components-copyright" %}
  		{% include "components-footer-menu" %}
    </div>
  </div>
</footer>
