{%
  set classes = [
    'dropdown',
    'dropdown--section-page'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="button button--dropdown">{{ header }}</div>
  {% if rows %}
    <div class="dropdown__options">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view__empty">
      {{ empty }}
    </div>
  {% endif %}
</div>
