// @file
// Styles for the header region

.header {
  display: none;

  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav:first-child {
    align-self: center;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .header-is-fixed & {
    background-color: #fff;
    height: 55px;
    justify-content: space-between;
    left: 50%;
    position: fixed;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;

    nav:first-child {
      flex-basis: auto;
      order: 2;
    }
  }
}
