// @file
// Styles for the search page layout.

$bp-first: 760px, 'no-query' true;

.layout-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .layout-search__top {
    border-bottom: 1px solid $cbcny-dividing-line-white;
    flex-basis: 100%;
    margin-bottom: em(32px);
    padding-bottom: em(43px);
    padding-top: em(69px);
  }

  .layout-search__sidebar {
    flex-basis: 100%;

    @include breakpoint($bp-first) {
      flex-basis: 25%;
      order: 2;
    }
  }
  .layout-search__main {
    flex-basis: 100%;

    @include breakpoint($bp-first) {
      flex-basis: 65%;
    }
  }
}
