// @file
// Styles for the slat layout.

$bp-first: 767px, 'no-query' true;
$bp-second: 991px, 'no-query' true;
$gutter: 0;

.l-slat {
  @include clearfix;
}

.l-slat__media {
  margin: 0;
  padding: 0 0 1em;

  @include breakpoint($bp-second) {
    float: left;
    padding-right: $gutter;
  }

  &:empty {
    padding: 0;
  }

  a,
  img {
    display: block;
  }
}

.l-slat__content {
  display: table-cell;
  width: 10000px;
}

.l-slat--feature {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  max-height: 645px; // Same as height of featured image.
  width: 100%;

  .l-slat__media {
    align-items: stretch;
    justify-content: flex-start;
    display: flex;
    flex-basis: 100%;
    padding: 0;

    @include breakpoint($bp-second) {
      flex-basis: 45%;
    }
  }

  .l-slat__content {
    display: block;
    flex-basis: 100%;
    //padding: em(30px);
    width: auto;

    // @include breakpoint($bp-first) {
    //   padding: em(30px) em(54px);
    // }

    @include breakpoint($bp-second) {
      flex-basis: 55%;
      //padding: em(30px) em(54px) em(50px);
    }

    // IE11 padding fix
    .l-slat__content-container {
      padding: em(30px);

      @include breakpoint($bp-first) {
        padding: em(30px) em(54px);
      }

      @include breakpoint($bp-second) {
        padding: em(30px) em(54px) em(50px);
      }
    }
  }
}

.l-slat--reversed {
  .l-slat__media {
    @include breakpoint($bp-second) {
      float: right;
      padding-left: $gutter;
      padding-right: 0;
    }
  }
}
