// @file
// Styles for feature cards

$bp-first: max-width 990px;

.feature {
  background-color: $cbcny-feature-white;
  box-shadow: 0 5px 21px -4px rgba(0, 0, 0, .21);
  margin-bottom: em(65px);
  margin-top: em(20px);
  overflow: hidden;
  position: relative;
  &:hover,
  &:focus {
    box-shadow: 0 6px 38px -10px rgba(0, 0, 0, .92);
  }

  @include breakpoint($bp-hide-mobile-menu) {
    margin-top: em(65px);
  }
  &.slick-slide {
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  .feature__type {
    color: $cbcny-dark-green;
    display: inline-block;
    font-size: em(map-get($font-size, xxxs));
    font-weight: 700;
    line-height: 1;
    margin-bottom: em(14px);
    text-transform: uppercase;

    @include breakpoint($bp-larger-font-size) {
      font-size: em(map-get($font-size, xxs));
    }

    @include breakpoint($bp-largest-font-size) {
      font-size: em(map-get($font-size, xs));
    }
  }

  .feature__subtitle {
    @extend .subtitle;
    margin-bottom: 1rem;
    @include breakpoint($bp-hide-mobile-menu) {
      margin-bottom: 0.555556rem;
    }
  }

  .feature__image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: em(205px);
    width: 100%;

    @include breakpoint($bp-first) {
      min-height: em(205px);
    }
    @include breakpoint($bp-second) {
      min-height: em(300px);
    }
  }

  .feature__divider {
    border-bottom: 1px solid $cbcny-lightest-gray;
    margin-bottom: em(23px);
    margin-top: em(23px);
  }

  .feature__body {
    color: $cbcny-gray;
    font-size: em(map-get($font-size, xs));
  }

  .feature__date {
    color: $cbcny-light-gray;
  }

  @include breakpoint($bp-first) {
    .feature__divider,
    .feature__body,
    .feature__date {
      display: none;
    }
  }
}
