// @file
// Styles for the total results div

.total-results {
	color: $cbcny-dark-gray;
	display: inline-block;
  font-size: 0.85em;
  font-style: italic;
  line-height: 1;
	margin-bottom: rem(33px);
 }
