{% include "layouts-header-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <article class="section-page" role="article">
    {% include "components-hero-section-page" %}
    <div class="l-constrain l-constrain--main-content">
      <section class="cards">
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card--highlighted" %}
      </section>

      <div class="is-centered"><a class="button blue-button" href="#">More on New York City Budget</a></div>

    </div>
  </article>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
