{% include "layouts-header-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <article role="article">
    <div class="l-constrain">
      {% include "components-page-title--section-page" %}

      {% include "components-feature" %}
      {% include "components-feature" %}
      
      <section class="cards">
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card--highlighted" %}
      </section>

      <a class="button blue-button" href="#">More on New York City Budget</a>

    </div>
  </article>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
