{% include "layouts-header-region" %}
{% include "layouts-navigation-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <article class="section-page" role="article">
    {% include "components-hero-section-page" %}
    <div class="l-constrain">
      <section class="cards">
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card" %}
        {% include "components-card--highlighted" %}
      </section>
      <div class="is-centered"><a class="button blue-button" href="#">More on New York City Budget</a></div>
    </div>
    <section class="section section--explore">
      <h2 class="c-yellow is-centered">EXPLORE OTHER TOPICS</h2>
      {% include "components-slick-carousel-topics--section" %}
    </section>
  </article>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
