{% include "layouts-header-region" %}
{% include "layouts-navigation-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <article role="article">
    {% include "components-hero"
      with {
        "pageTitle": "About CBC",
        "subtitle": false,
        "topic": false,
        "type": false,
        "hasImage": false,
        "img": {
          "hero": {
            "src": "../../images/hero--medicaid.jpg"
          }
        }
      }
    %}
    <section class="section--subnavigation">
      {% include "components-subnav-menu" %}
    </section>
    <div class="l-constrain l-constrain--main-content">
      {% include "components-share-links" %}
      {% include "components-introduction" %}
      
      <p>CBC was founded in 1932, at a time of great fiscal crisis, when a group of distinguished civic leaders decided to start a research organization that would analyze the City’s finances, evaluate the management of city government, report on these matters to its members, and recommend improvements to municipal officials. In 1984 CBC expanded its research to include state as well as city government.</p>
      
      <section class="section section--video-embed">
        {% include "components-video" %}
      </section>

      <p>With a reputation for independence and objective research, CBC has been an outspoken and influential advocate for government reform – and unique in that the organization confines its advocacy to areas on which it has conducted research. Through that research, as well as bringing together major stakeholders on key issues and working closely with media in the region, CBC has been a catalyst for positive change in such areas as budget reform, government finance, education, transportation, public authority reform, and economic competitiveness.</p>
      
      {% include "components-pullquote" %}

      <p>The CBC is divided into committees: Budget Policy, Competitiveness, Transportation, Economic Development & Housing, Solid Waste Management, and Port Authority of New York & Jersey Committees. Projects that do not fall under the control of one of these committees may have an ad hoc committee created for the duration of the project and dissolved as needed. Each committee is responsible for guiding the research and approving the reports and recommendations issued within its jurisdiction.</p>

      <h2>Our Three Fundamental Beliefs</h2>

      <p>The research program is grounded in three fundamental beliefs:</p>

      <ul>
      <li>Serving the interests of the citizenry at large, rather than narrow special interests, should be the beacon that guides public officials as well as the standard for evaluating their performance.</li>
      <li>It is wrong to waste precious public resources, whether they are financial or human.</li>
      <li>It is important to focus on the well-being of future New Yorkers, the most underrepresented interest of all in city and state government.</li>
      </ul>

    </div>
  </article>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
