<nav role="navigation" aria-labelledby="block-cbcny-footer-menu-label">
  <h2 class="u-visually-hidden" id="block-cbcny-footer-menu-label">Footer</h2>
  <ul class="nav nav--footer">
    <li class="nav__item">
      <a href="/" class="nav__link" data-drupal-link-system-path="<front>">Privacy Policy</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link" data-drupal-link-system-path="<front>">Terms of Use</a>
    </li>
  </ul>
</nav>
