<h2 class="visually-hidden">Topics</h2>
<div class="l-constrain-narrow">
	<ul class="nav nav--topics">
	  <li class="nav__item"><a class="nav__link nav__link--new-york-city-budget" href="#">New York City Budget</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--economic-development" href="#">Economic Development</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--education" href="#">Education</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--healthcare" href="#">Healthcare</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--pensions-fringe-benefits" href="#">Pensions & Fringe Benefits</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--state-budget" href="#">State Budget</a></li>
	  <li class="nav__item"><a class="nav__link nav__link--transporation-infrastructure" href="#">Transportation & Infrastructure</a></li>
	</ul>
</div>
