<article class="card card--highlighted" role="article">
  <a href="{{ url }}">
	  <div class="teaser-info">
	    <span class="teaser-info__item">{{ type }}</span>
	  </div>
    <h2 class="page-title">{{ pageTitle }}</h2>
	  <h3 class="subtitle">{{ subtitle }}</h3>
	  <div class="published-date">{% include "base-medium-date" %}</div>
  </a>
</article>
