<nav role="navigation">
  <h2 class="visually-hidden">Sub-navigation</h2>
  <ul class="nav nav--subnavigation">
    <li class="nav__item is-active"><a class="nav__link is-active" href="#">About CBC</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Committees</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Financial</a></li>
    <li class="nav__item"><a class="nav__link" href="#">History</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Innovation</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Jobs &amp; Internships</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Our Mission</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Staff Bios</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Trustees</a></li>
  </ul>
</nav>
