<div class="site-name">
  <a class="site-name__link" href="#" rel="home" title="Home">
    <h1 class="site-name__text">{{ siteName }}</h1>
  </a>
</div>
<div class="site-slogan">{{ siteSlogan }}</div>
