<div class="download-callout">
	<div class="download-callout__description">Download our report on the 2017 New York State budget.</div>
	<div class="download-callout__file"><a href="file.pdf">Here is the download link</a></div>
</div>

<div class="download-callout">
	<div class="download-callout__heading">Optional Heading</div>
	<div class="download-callout__description">Download our report on the 2017 New York State budget.</div>
	<div class="download-callout__file"><a href="file.pdf">Here is the download link</a></div>
</div>