<div class="hero has-photo">
	<div class="post-heading">
		<div class="post-heading__type-topic">
			<div class="post-heading__type">Report</div>
			<div class="post-heading__pipe"></div>
			<div class="post-heading__topic">New York City Budget</div>
		</div>
		<div class="post-heading__title">Predicting the Peak, Preparing for the Trough</div>
		<div class="post-heading__subtitle">An Examination of the Impact of a Possible Recession on New York State</div>
	</div>
</div>