<div class="slick-carousel slick-carousel-topics">
  <div>
    {% include "components-icon-link"
      with {
        "customClasses": "icon-link--white icon-link--skyscrapers",
        "title": "New York City Budget"
      }
    %}
  </div>
  <div>
    {% include "components-icon-link"
      with {
        "customClasses": "icon-link--white icon-link--chart",
        "title": "Economic Development"
      }
    %}
  </div>
  <div>
    {% include "components-icon-link"
      with {
        "customClasses": "icon-link--white icon-link--courthouse",
        "title": "Education"
      }
    %}
  </div>
  <div>
    {% include "components-icon-link"
      with {
        "customClasses": "icon-link--white icon-link--heartbeat",
        "title": "Healthcare"
      }
    %}
  </div>
  <div>
    {% include "components-icon-link"
      with {
        "customClasses": "icon-link--white icon-link--piggy-bank",
        "title": "Pensions & Fringe Benefits"
      }
    %}
  </div>
</div>
