<div class="view">
  <div class="view__content slick-carousel slick-carousel-topics">
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--skyscrapers",
          "title": "New York City Budget"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--chart",
          "title": "Economic Development"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--courthouse",
          "title": "Education"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--heartbeat",
          "title": "Healthcare"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--piggy-bank",
          "title": "Pensions & Fringe Benefits"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--dollar-bills",
          "title": "State Budget"
        }
      %}
    </div>
    <div class="view__row">
      {% include "components-icon-link"
        with {
          "customClasses": "icon-link--dark-green icon-link--traffic-light",
          "title": "Transportation & Infrastructure"
        }
      %}
    </div>
  </div>
</div>
