<div class="hero hero--feature hero--section-page">
  <div class="hero__content--feature l-constrain">
    <h1 class="page-title page-title--section-page">{{ pageTitle }}</h1>
    {% include "components-dropdown"
      with {
        "customClasses": "dropdown--section-page"
      }
    %}

    {% include "components-feature" %}
    {% include "components-feature" %}
  </div>
</div>
