<div class="block block--cbcny-about">
  <div class="block__content">
    <p>CBC is a nonpartisan, nonprofit organization pursuing constructive change in the finances and services of New York City and State.</p>
  </div>
</div>
