<div class="block block--facets">
  <h2 class="block__title">Topic</h2>
  <div class="block__content">
    <ul class="js-facets-checkbox-links">
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-1">
        <label for="topic-1">City Budget</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-1" style="display: none;">City Budget</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-2">
        <label for="topic-2">Economic Development</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-2" style="display: none;">Economic Development</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-3">
        <label for="topic-3">Education</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-3" style="display: none;">Education</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-4">
        <label for="topic-4">Healthcare</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-4" style="display: none;">Healthcare</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-5">
        <label for="topic-5">Pensions & Fringe Benefits</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-5" style="display: none;">Pensions & Fringe Benefits</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-6">
        <label for="topic-6">State Budget</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-6" style="display: none;">State Budget</a>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-7">
        <label for="topic-7">Transportation & Infrastructure</label>
        <a href="#" rel="nofollow" data-drupal-facet-item-id="topic-7" style="display: none;">Transportation & Infrastructure</a>
      </li>
    </ul>  
  </div>
</div>