<div class="block block--facets">
  <h2 class="block__title">Topic</h2>
  <div class="block__content">
    <ul class="js-form-item__checkbox-links">
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-1">
        <label for="topic-1" class="form-item__label">City Budget</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-2">
        <label for="topic-2" class="form-item__label">Economic Development</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-3">
        <label for="topic-3" class="form-item__label">Education</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-4">
        <label for="topic-4" class="form-item__label">Healthcare</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-5">
        <label for="topic-5" class="form-item__label">Pensions & Fringe Benefits</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-6">
        <label for="topic-6" class="form-item__label">State Budget</label>
      </li>
      <li class="form-item">
        <input type="checkbox" class="form-item__checkbox" id="topic-7">
        <label for="topic-7" class="form-item__label">Transportation & Infrastructure</label>
      </li>
    </ul>
  </div>
</div>
