<div class="hero hero--section-page">
  <div class="hero__content">
    <h1 class="page-title page-title--section-page">{{ pageTitle }}</h1>
    {% include "components-dropdown" %}

    {% include "components-feature" %}
    {% include "components-feature" %}
  </div>
</div>
