<div class="hero hero--feature hero--homepage" style="background-image: url(../../../../images/bg/hero--post.jpg);">
  <div class="hero__content--feature">
    <div class="l-constrain">
      {% include "components-slick-carousel-feature--homepage" %}
    </div>
  </div>
</div>
