<div class="hero hero--homepage hero--large has-image" style="background-image: url(../../../../images/bg/hero--post.jpg);">
  <div class="hero__content--homepage">
    {% include "components-slick-carousel-homepage" %}
  </div>
</div>
