<div class="view--search">
  <form class="view-exposed-form">
  	<div class="form-item form-item--textfield">
  		<input placeholder="Enter your search terms" class="form-item__text">
  	</div>
  	<div class="form-actions">
  		<input class="button form-item__submit" type="submit" value="Search">
  	</div>
  </form>
</div>
