{#
/**
 * @file
 * Theme override to display the header region.
 */
#}
<header class="header" role="banner">
  <div class="header__inner l-constrain">
    {% block content %}
      {% if content %}
        {{ content }}
      {% endif %}
    {% endblock %}
</div>
</header>
