// @file
// Styles for the utility menu

.nav--utility {
  @extend %nav--inline;
  height: 52px;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: right;

  .nav__item {
    padding-right: 33px;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  .nav__link {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    color: $cbcny-white;
    font-size: .82em;
    padding-right: 29px;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .nav__link--contact-us {
    @include svg-background(icon-contact-us);
    background-size: 20px 16px;
  }

  .nav__link--subscribe {
    @include svg-background(icon-subscribe);
    background-size: 16px 16px;
  }

  .nav__link--donate {
    @include svg-background(icon-donate);
    background-size: 16px 16px;
  }

  .nav__link--search {
    @include svg-background(icon-search);
    background-size: 20px 16px;
  }

  // Second instance of menu in the navigation region for sticky menu
  // rather than using jquery to clone.

  .region-navigation__inner & {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 27px;
    padding: 0;
    position: relative;
    top: 1px;

    .nav__item {
      padding-right: 22px;

      &:last-child {
        padding-right: 0;
      }

      > .nav__link {
        display: block;
        font-size: 0;
        height: 16px;
        overflow: hidden;
        padding-right: 0;
        text-indent: 100%;
        white-space: nowrap;
        width: 20px;

        &.nav__link--contact-us {
          @include svg-background(icon-contact-us--gray);
          background-size: 20px 16px;
        }
        &.nav__link--subscribe {
          background-color: $cbcny-blue;
          font-size: .82em;
          overflow: visible;
          width: auto;
          display: inline;
          padding: 10px;
          background-image: none;

          &:before {
            content:url(../images/bg/icon-subscribe.svg);
            width: 16px;
            height: 16px;
            padding-right: 5px;
            vertical-align: middle;
          }

          &:hover,
          &:focus {
            box-shadow: 0 3px 21px -4px rgba(0,0,0,.66);
            color: $cbcny-extra-light-blue;
            outline: 0;
          }
        }
        &.nav__link--donate {
          @include svg-background(icon-donate--gray);
          background-size: 16px 16px;
        }
        &.nav__link--search {
          @include svg-background(icon-search--gray);
          background-size: 20px 16px;
        }

        &:hover,
        &:focus {
          &.nav__link--contact-us {
          @include svg-background(icon-contact-us--blue);
          background-size: 20px 16px;
          }
          &.nav__link--donate {
            @include svg-background(icon-donate--blue);
            background-size: 16px 16px;
          }
          &.nav__link--search {
            @include svg-background(icon-search--blue);
            background-size: 20px 16px;
          }
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
