<nav role="navigation" aria-labelledby="block-cbcny-theme-main-menu-label">
  <h2 class="u-visually-hidden" id="block-cbcny-theme-main-menu-label">Main navigation</h2>
  <ul class="nav nav--main">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Topics</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Research</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Advocacy</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Newsroom</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">About</a>
    </li>
  </ul>
</nav>
