<nav role="navigation" aria-labelledby="block-cbcny-theme-account-menu-label">
  <h2 class="u-visually-hidden" id="block-cbcny-theme-account-menu-label">User account menu</h2>
  <ul class="nav nav--utility">
    <li class="nav__item">
      <a class="nav__link nav__link--contact-us" href="#">Contact Us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--subscribe" href="#">Subscribe</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--donate" href="#">Donate</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--search" href="#">Search</a>
    </li>
  </ul>
</nav>
