<nav role="navigation" aria-labelledby="block-cbcny-theme-account-menu-label">
  <h2 class="u-visually-hidden" id="block-cbcny-theme-account-menu-label">User account menu</h2>
  <ul class="nav nav--account">
    <li class="nav__item"><a class="nav__link" href="#">My Account</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Log Out</a></li>
  </ul>
</nav>
