<div class="region-navigation">
  <div class="region-navigation__inner l-constrain-narrow">
    {% include "components-site-branding" %}
    {% include "components-main-menu" %}
    {% include "components-utility-menu" %}
  </div>
</div>
