<footer class="footer" role="contentinfo">
	<div class="footer__inner l-constrain">
		<div class="social-media-and-promo-container">
			<div class="social-media-container">
				<h1 class="footer-heading">Spread the Word</h1>
				<a class="facebook-button social-media-button w-inline-block" href="#"></a><a class="social-media-button twitter-button w-inline-block" href="#"></a><a class="linkedin-button social-media-button w-inline-block" href="#"></a><a class="social-media-button vimeo-button w-inline-block" href="#"></a>
			</div>
			<div class="promo-container">
				<h1 class="footer-heading">Stay Updated</h1>
				<a class="button" href="#">Subscribe</a>
			</div>
		</div>

		<div class="footer-hr"></div>

		<div class="contact-information-container">
			<div class="about-cbcny-container">
				<div class="about-cbcny-text">CBC is a nonpartisan, nonprofit organization pursuing constructive change in the finances and services of New York City and State.</div>
			</div>
			<a class="cbcny-footer-logo w-inline-block" href="#">Citizens Budget Commission</a>
			<div class="cbcny-address-container">
				<div class="cbcny-address">Two Penn Plaza, 5th Floor<br>New York, NY 10121<br>212-279-2605</div>
			</div>
		</div>

		<div class="legal-information-container">
			<div class="copyright-text">&copy;2016 Citizens Budget Commission</div>
				<a class="legal-link" href="#">Privacy Policy</a>
				<a class="legal-link" href="#">Terms of Use</a>
			</div>
		</div>
	</div>
</footer>
