// @file
// Styles for .aside div

.aside {
  background-color: #e1f0f5;
  margin-bottom: 41px;
  padding: 50px 50px 35px;
}

.aside h2 {
	color: $cbcny-dark-blue;
  font-family: $base-font-family;
  font-size: 0.9em;
  line-height: 1.3em;
 	margin-bottom: 5px;
  margin-top: 0px;
}

.aside p {
  color: #004963;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 20px;

  &:first-child::first-letter {
  	font-size: 40.5px;
  }

  a[href$=".pdf"] {
    @include svg-background(icon-download);
    background-position: 100% 50%;
    background-size: 14px;
    background-repeat: no-repeat;
    padding-right: 20px;
  }
}

.aside ul {
	margin-bottom: 20px;

	li {
		color: $cbcny-dark-blue;
		font-size: 0.9em;
	  line-height: 1.5em;
	}
}