// @file
// Styles for cards

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 100%;
  @include breakpoint($bp-hide-mobile-menu) {
    flex-basis: 47%;
  }
  @include breakpoint($bp-larger-site-logo) {
    flex-basis: 30%;
  }

  a {
    background-image: linear-gradient(180deg, rgba(0, 73, 99, .96), rgba(0, 73, 99, .96)), url("../images/card-basic-background.jpg");
    background-position: 0px 0px, 50% 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    border-radius: 5px;
    box-shadow: 0 1px 10px -2px #000;
    display: block;
    margin-bottom: em(51px);
    min-height: em(360px);
    padding: em(30px) em(35px) em(55px);
    position: relative;

    &:hover,
    &:focus {
      background-image: linear-gradient(180deg, rgba(0, 83, 112, .93), rgba(0, 83, 112, .93)), url("../images/card-basic-background.jpg");
      box-shadow: 0 8px 27px -4px rgba(0, 0, 0, .67);
    }

    @include breakpoint($bp-hide-mobile-menu) {
      margin-bottom: em(83px);
    }
  }
  
  .page-title {
    color: $cbcny-white;
    font-size: rem(map-get($font-size, xxxxxl));
    line-height: 1.25;
    margin-bottom: rem(12px);
  }

  .subtitle {
    color: $cbcny-pastel-blue;
    font-size: rem(map-get($font-size, l));
    line-height: 1.35;
  }

  .published-date {
    bottom: em(55px);
    color: $cbcny-white;
    font-size: rem(map-get($font-size, xxxs));
    position: absolute;
    right: em(35px);
    text-align: right;  
  }
}

.card--highlighted {
  a {
    background-image: linear-gradient(180deg, rgba(237, 189, 42, .95), rgba(237, 189, 42, .95)), url("../images/card-basic-background.jpg");
  
    &:hover,
    &:focus {
      background-image: linear-gradient(180deg, rgba(237, 189, 42, .93), rgba(237, 189, 42, .93)), url("../images/card-basic-background.jpg");
    }
  }

  .teaser-info__item {
    color: $cbcny-dark-green;
  }

  .page-title {
    color: $cbcny-dark-blue;
  }

  .subtitle {
    color: $cbcny-near-black;
  }

  .published-date {
    color: $cbcny-dark-blue;
  }
}