// @file
// Styles for card

.card {
  flex-basis: 100%;
  @include breakpoint($bp-hide-mobile-menu) {
    flex-basis: 47%;

    &:nth-of-type(odd) {
      margin-right: 6%;
    }
  }
  @include breakpoint($bp-larger-site-logo) {
    flex-basis: 30%;

    // Override previous breakpoint.
    &:nth-of-type(odd) {
      margin-right: auto;
    }

    &:nth-of-type(3n+1),
    &:nth-of-type(3n+2) {
      margin-right: 5%;
    }
  }
  .card__link {
    background-image: linear-gradient(180deg, rgba(0, 73, 99, .96), rgba(0, 73, 99, .96)), url("../images/card-basic-background.jpg");
    background-position: 0px 0px, 50% 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    border-radius: 5px;
    box-shadow: 0 1px 10px -2px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: em(51px);
    padding: em(30px) em(35px) em(55px);

    &:hover,
    &:focus {
      background-image: linear-gradient(180deg, rgba(0, 83, 112, .93), rgba(0, 83, 112, .93)), url("../images/card-basic-background.jpg");
      box-shadow: 0 8px 27px -4px rgba(0, 0, 0, .67);
    }

    @include breakpoint($bp-hide-mobile-menu) {
      margin-bottom: em(83px);
      min-height: em(360px);
    }
  }

  .card__type {
    color: $cbcny-yellow;
    display: inline-block;
    font-size: em(map-get($font-size, xxxs));
    font-weight: 700;
    line-height: 1;
    margin-bottom: em(14px);
    text-transform: uppercase;

    @include breakpoint($bp-larger-font-size) {
      font-size: em(map-get($font-size, xxs));
    }

    @include breakpoint($bp-largest-font-size) {
      font-size: em(map-get($font-size, xs));
    }
  }

  .card__title {
    @extend %page-title;
    color: $cbcny-white;
    font-size: rem(map-get($font-size, xxxxxl));
    line-height: 1.25;
    margin-bottom: rem(12px);
  }

  .card__subtitle {
    color: $cbcny-pastel-blue;
    flex: 1 0 auto;
    font-size: rem(map-get($font-size, l));
    font-weight: 400;
    line-height: 1.35;
  }

  .card__date {
    align-self: flex-end;
    color: $cbcny-white;
    font-size: rem(map-get($font-size, xxxs));
    text-align: right;
  }
}

.card--highlighted {
  .card__link {
    background-image: linear-gradient(180deg, rgba(237, 189, 42, .95), rgba(237, 189, 42, .95)), url("../images/card-basic-background.jpg");

    &:hover,
    &:focus {
      background-image: linear-gradient(180deg, rgba(237, 189, 42, .93), rgba(237, 189, 42, .93)), url("../images/card-basic-background.jpg");
    }
  }

  .card__type {
    color: $cbcny-dark-green;
  }

  .card__title {
    color: $cbcny-dark-blue;
  }

  .card__subtitle {
    color: $cbcny-near-black;
  }

  .card__date {
    color: $cbcny-dark-blue;
  }
}
