// @file
// Styles for .download-callout

.download-callout {
	background-color: $cbcny-extremely-light-blue;
	border-bottom: 1px solid #cbdce2;
	color: #4d4d4d;
  font-size: 1.1em;
  margin-bottom: 37px;
  padding: 30px 50px;
}
 
.download-callout__heading {
	@extend h2;
  color: $cbcny-dark-blue;
  font-family: $base-font-family;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 0px;
}

.download-callout__file {
  a[href$=".pdf"] {
    @include svg-background(icon-pdf);
    background-position: 100% 57%;
    background-size: 16px;
    background-repeat: no-repeat;
    padding-right: 23px;
  }
}

