// @file
// Styles for form fieldsets.

.fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.fieldset__legend {
  box-sizing: content-box;
  display: block;
  padding: 0;
  text-indent: 0;
  width: 100%;
}

.fieldset__legend-text { // Same text styles as form labels.
  color: $cbcny-dark-gray;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: rem(12px);
}

.fieldset__description { // Same text styles as form descriptions.
  color: $secondary-text-color;
  font-size: em(map-get($font-size, xs));
}

// Custom fieldset styles.
@import 'fieldset/fieldset--default';
@import 'fieldset/fieldset--collapsible';
