// @file
// Styles for figures.

.figure {
  background-color: $cbcny-white;
  margin-bottom: em($base-line-height);
}

.figure__caption {
  color: $cbcny-dark-gray;
  font-size: em(map-get($font-size, s));
  line-height: 1.5;
  padding-top: rem(15px);
}

.figure--image {
  padding: em(40px);

  .figure__caption {
    margin-bottom: rem(-12px);
  }
}
