// @file
// Styles for form items.

$form-text-size: map-get($font-size, m) !default;

.form-item {
  margin: 0;
}

.form-item--textfield,
.form-item--textarea,
.form-item--name,
.form-item--password,
.form-item-name,
.form-item-pass,
.form-item--radios,
.form-item--checkbox,
.form-item--checkboxes {
  margin-bottom: 39px;
}

.form-item--select {
  margin-bottom: 39px;
}

.form-item__label {
  color: #4e4e4e;
  display: block;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 12px;

  .form-item--radio &,
  .form-item--checkbox & {
    color: $cbcny-blue;
    font-size: .8em;
    margin-left: .5em;

    &:hover {
      cursor: pointer; 
    }
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__legend {
  font-weight: bold;
}

.form-item__description {
  color: $secondary-text-color;
  font-size: em(map-get($font-size, s));
}

.form-item__required-marker:before {
  content: '*';
}

%form-item__textbox {
  background-color: #fff;
  border-color: #000 #f3f3f3 #e6e6e6;
  border-radius: 0px;
  border-style: none solid solid;
  border-width: 1px 1px 2px;
  color: #333;
  font-size: em($form-text-size);
  height: 60px;
  padding: em(20px);
  transition: all 400ms ease-in-out;
  vertical-align: middle;
  width: 100%;

  &:focus {
    border-color: #000 #e9e9e9 $cbcny-light-blue;
    outline: 0;
  }
}

.form-select,
.form-text,
.form-textarea {
  @extend %form-item__textbox;
}

.form-text,
.form-textarea {
  margin-bottom: 0;
}

.form-select {
  @include svg-background(icon-meatball-hover);
  background-position: 95% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }
}

// Custom form item styles.
@import 'form-item/form-item--checkbox';
@import 'form-item/form-item--date';
@import 'form-item/form-item--password-confirm';
@import 'form-item/form-item--radio';
