// @file
// Styles for form items.

.form-item {
  margin-bottom: em($base-line-height);
}

.form-item__label {
  color: $cbcny-dark-gray;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: rem(12px);
}

.form-item__description {
  color: $secondary-text-color;
  font-size: em(map-get($font-size, xs));
}

.form-item__required-marker:before {
  content: '*';
}

.form-item__email,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__textarea {
  background-color: $cbcny-white;
  border-color: $cbcny-off-white $cbcny-almost-white;
  border-style: solid;
  border-width: 0 1px 2px;
  color: $cbcny-extra-dark-gray;
  line-height: (22px / 18px);
  padding: em(18px) em(20px);
  width: 100%;

  &:focus {
    border-bottom-color: $cbcny-light-blue;
    outline: 0;
  }
}

.form--item__select {
  appearance: none;
  @include svg-background(icon-meatball-hover);
  background-position: 95% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
  text-indent: 1px;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }
}

// Custom form item styles.
@import 'form-item/form-item--checkbox';
@import 'form-item/form-item--date';
@import 'form-item/form-item--password-confirm';
@import 'form-item/form-item--radio';
