// @file
// Styles for headings.

.heading {}

.heading--h3 {
  @extend %h3;
}

.heading--green {
  color: $cbcny-dark-green;
}

.heading--yellow {
  color: $cbcny-yellow;
}

.heading--big-blue {
  color: $cbcny-dark-blue;
  font-size: rem(map-get($font-size, xxxxxl));
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
