// @file
// Styles for the introduction div

.introduction {
  p {
    border-bottom: 1px solid #e4e4e4;
    color: #0c5772;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.1em;
    letter-spacing: -1px;
    line-height: 2.1em;
    margin-bottom: 50px;
    padding-bottom: 36px;
  }
}


