// @file
// Styles for the page title

.page-title {
  @extend h1;
}

.page-title--section-page {
  color: $cbcny-blue;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 3.52em;
  font-weight: 300;
  line-height: 0.9em;
  margin-right: em(14px);
}
