// @file
// Styles for share links.

.share-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($bp-larger-font-size) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .share-links__label {
    color: $cbcny-dark-green;
    flex-basis: 100%;
    font-size: rem(map-get($font-size, xxxs));
    font-weight: 600;
    line-height: 1.2;
    margin-right: 1em;
    text-transform: uppercase;

    @include breakpoint($bp-larger-font-size) {
      flex-basis: auto;
    }
  }

  .share-links__links {
    flex-basis: 100%;

    @include breakpoint($bp-larger-font-size) {
      flex-basis: auto;
    }
  }
}
