// @file
// Styles for .share-links

.share-links {
	display: flex;
  justify-content: flex-start;

  @include breakpoint($bp-larger-font-size) {
    justify-content: flex-end;
  }

  .share-links__label {
    color: $cbcny-dark-green;
    flex-basis: 100%;
    font-size: .8em;
    font-weight: 600;
    margin-bottom: em(10px);
    margin-right: em(9px);
    text-transform: uppercase;

    @include breakpoint($bp-larger-font-size) {
      flex-basis: auto;
    }
  }
}