// @file
// Styles site logo

.site-logo {
	@extend .l-constrain;
	@include svg-background(logo);
	background-color: transparent;
	background-size: 100% auto;
	display: block;
	height: 47px;
	margin: 15px 0;
	overflow: hidden;
	padding: 0;
	text-indent: -999em;
	white-space: nowrap;
	width: 137px;

	@include breakpoint($bp-footer-switch, $no-query: true) {
		height: 61px;
		width: 176px;
	}

	.header-is-fixed & {
		@include svg-background(logo-sm);
		height: 35px;
		margin: 7px 0;
		width: 107px;
	}
}