// @file
// Styles site logo

.site-logo {
	@extend .l-constrain;
	@include svg-background(logo);
	background-color: transparent;
	background-size: 100% auto;
	display: block;
	height: 61px;
	margin: 15px 0;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
	width: 176px;

	.header-is-fixed & {
		@include svg-background(logo-sm);
		height: 35px;
		margin: 7px 0;
		width: 107px;
	}
}