// @file
// General slick carousel Styles

.slick-carousel {
  border: 0;
  margin: 0;
  padding: 0;
	display: flex;

	.section--topics & {
		color: $cbcny-white;
		margin: 0 auto;
		position: relative;

		.slick-slide {
			padding: 0 em(27px);
		}
	}

	&.slick-carousel-homepage {
		.slick-slide {
      height: 500px;
      margin: 0;
    }
	}

}
