// @file
// General slick carousel Styles

.slick-carousel {
  border: 0;
  margin: 0;
  padding: 0;
	display: flex;

	.section--explore & {
		color: $cbcny-white;
		margin: 0 auto;
		position: relative;

		.slick-slide {
			padding: 0 27px;
		}
	}

	&.slick-carousel-homepage {
		min-height: em(425px);
		position: relative;
		top: em(100px);
	}

}
