// @file
// Styles for the subtitle.

.subtitle {
  @extend %hN;
  color: $cbcny-dark-gray;
  font-size: rem(map-get($font-size, xxxl));
  font-weight: 400;
  line-height: 1.14;

  @include breakpoint($bp-larger-font-size) {
    font-size: rem(map-get($font-size, xxxxl));
    line-height: 1.25;
  }

  @include breakpoint($bp-largest-font-size) {
    font-size: rem(map-get($font-size, xxxxxl));
  }
}
