// @file
// Styles for the page info.

.teaser-info {
  margin-bottom: em(14px);
}

.teaser-info__item {
  color: $cbcny-yellow;
  display: inline-block;
  font-size: em(map-get($font-size, xxxs));
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint($bp-larger-font-size) {
    font-size: em(map-get($font-size, xxs));
  }

  @include breakpoint($bp-largest-font-size) {
    font-size: em(map-get($font-size, xs));
  }
}

.teaser-info--feature {
  .teaser-info__item {
    color: $cbcny-dark-green;
  }
}
