// @file
// Styles for the trending searches div

.trending-searches {
	flex-basis: 100%;
  padding-top: em(11px);
}

.trending-searches__label {
	color: $cbcny-dark-gray;
	display: block;
	font-size: 0.9em;
  line-height: 1.15;
	font-weight: 600;
	margin-right: rem(26px);
  padding-bottom: rem(11px);

  @include breakpoint($bp-hide-mobile-menu) {
    display: inline;
    padding-bottom: 0;
  }
}
