{%
  set classes = [
    'dropdown'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="button dropdown-button">Choose a Different Topic</div>
  {% if rows %}
    <div class="dropdown__options">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view__empty">
      {{ empty }}
    </div>
  {% endif %}
</div>
