{%
  set classes = [
    'card-grid'
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {% if rows %}
      {{ rows }}
  {% elseif empty %}
    <div class="view__empty">
      {{ empty }}
    </div>
  {% endif %}
</section>
