{%
  set classes = [
    'block',
    'block--' ~ configuration.label|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <h2 class="heading--big-blue">{{ content.field_heading }}</h2>
  <div class="field--link">{{ content.field_link }}</div>
</div>
