<section class="section section--topics">
  <h2 class="heading--yellow centered">EXPLORE OTHER TOPICS</h2>
  <div class="l-constrain">
    {% block content %}
    {{ content }}
    {% endblock %}
  </div>
</section>
