{%
  set classes = [
    'block',
    'block--' ~ configuration.label|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <h2 class="heading--big-blue">{{ content.field_heading }}</h2>
  {{ content.field_button }}
</div>
