{%
  set classes = [
    'slick-carousel',
    'slick-carousel-homepage',
    'slick-blue-buttons'
  ]
%}
{{ attach_library('cbcny_theme/slick') }}
<div{{ attributes.addClass(classes) }}>
{% block content %}
{{ content }}
{% endblock %}
</div>
