// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$cbcny-near-black: #3b3b3b;
$cbcny-blue: #007faa;
$cbcny-dark-blue: #004963;
$cbcny-flat-blue: #0c5772;
$cbcny-medium-blue: #074e67;
$cbcny-light-blue: #0194d3;
$cbcny-extra-light-blue: #12afe4;
$cbcny-extremely-light-blue: #e1f0f5;
$cbcny-pale-blue: #a6d0e2;
$cbcny-pastel-blue: #a3d2e3;
$cbcny-lightest-gray: #e1e1e1;
$cbcny-lighter-gray: #b9b9b9;
$cbcny-lightish-gray: #d7d7d7;
$cbcny-light-gray: #999;
$cbcny-gray: #616161;
$cbcny-dark-gray: #4c4c4c;
$cbcny-extra-dark-gray: #383838;
$cbcny-yellow: #edbd2a;
$cbcny-off-white: #e8e8e8;
$cbcny-feature-white: #fafafa;
$cbcny-white: #fff;
$cbcny-dark-green: #5c813e;
$cbcny-olive-green: #7e7e7e;
$cbcny-pastel-green: #dbffbe;
$cbcny-lime-green: #6cf100;
$cbcny-dividing-line-white: #e1e1e1;
$cbcny-almost-white: #fafafa;
$cbcny-almost-white-translucent: rgba(250, 250, 250, 0.9);
$cbcny-aqua-translucent: rgba(32, 103, 128, 0.72);
$cbcny-black: #000;
$cbcny-black-translucent: rgba(0, 0, 0, 0.26);

$primary-text-color: $cbcny-gray;
$secondary-text-color: $cbcny-dark-gray;
$heading-text-color: $cbcny-dark-gray;
$body-color: $cbcny-almost-white;
$link-color: $cbcny-blue;
$link-hover-color: $cbcny-extra-light-blue;
$selection-background: rgba(253, 209, 73, 0.62);
$selection-foreground: #4b4b4b;
$gradient-light: rgba(255, 255, 255, 0.1) !default;
$gradient-dark: rgba(0, 0, 0, 0.1) !default;
$border-color: #ccc;
$form-bg-color: #eee;
$form-border-color: #ccc;
