// @file
// Layout variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

@include breakpoint-set('to ems', true);
$max-page-width: 1296px;
$max-page-width-narrow: 940px;
$main-content-width: 976px;
$gutter-width: 2em;
$gutter-width-px: 32px;

// Breakpoints
$bp-footer-switch: 991px;
$bp-hide-mobile-menu: 730px;
$bp-larger-site-logo: 991px;
$bp-larger-font-size: 480px;
$bp-largest-font-size: 960px;
$bp-topic-nav-narrow: 767px;

// Polyfill for box-sizing in IE7 and below. The url must be root relative to
// the location of the htc script.
$box-sizing-polyfill-path: '/somewhere/polyfills/boxsizing.htc';
