// @file
// Typography variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$base-font-size: 18px;
$base-line-height: 34.2px;
$base-line-height-ratio: $base-line-height / $base-font-size;

// Fonts
$system-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
$base-font-family: Lato, sans-serif;
$secondary-font-family: 'Libre Baskerville', serif;
$monospace-font-family: Consolas, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;

// Typographic Scale
$font-size: (
  xxxxxxxl: 45px,
  xxxxxxl: 39.6px,
  xxxxxl: 28.8px,
  xxxxl: 27px,
  xxxl: 25.2px,
  xxl: 23.4px,
  xl: 21.6px,
  l: 19.8px,
  m: $base-font-size,
  s: 17.1px,
  xs: 16.2px,
  xxs: 15.3px,
  xxxs: 14.4px
);
