{%
  set classes = [
    'section',
    'section--image-caption',
    'section--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ content.field_image_upload }}
  {% if content.field_image_caption|render %}
    <div class="caption">
      {{ content.field_image_caption }}
    </div>
  {% endif %}
</section>
