{%
  set classes = [
    'section',
    'section--video-embed',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ content.field_video_url }}
  {% if content.field_video_caption|render %}
    <div class="video__caption">
      {{ content.field_video_caption }}
    </div>
  {% endif %}
</section>
