{%
  set classes = [
    'section',
    'section--introduction',
    'section--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ content }}
</section>
