{%
  set classes = [
    'section',
    'section--footnotes',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  <h2 id="Footnotes" class="heading heading--h3 heading--green">{{ 'Footnotes'|t }}</h2>
  {{ content }}
</section>
