{%
  set classes = [
    'section',
    'section--download-callout',
    'section--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
  ]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="callout__content">
    {% if content.field_heading_plain|render %}
      <h2>{{ content.field_heading_plain }}</h2>
    {% endif %}
    <div>{{ content.field_description_plain }}</div>
    {{ content.field_file_upload }}
  </div>
</section>
