{%
  set classes = [
    'section',
    'section--aside',
    'section--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
  ]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="section__content">
    {{ content }}
  </div>
</section>
