<div class="block block--spread-the-word-links">
  <h2 class="heading--big-blue">Spread the word</h2>
  <div class="field--link">
    <a class="social-link social-link--facebook" href="https://www.facebook.com/">Facebook</a>
    <a class="social-link social-link--twitter" href="https://twitter.com/">Twitter</a>
    <a class="social-link social-link--linkedin" twitter href="https://www.linkedin.com/">Linkedin</a>
    <a class="social-link social-link--vimeo" href="https://vimeo.com/">Vimeo</a>
  </div>
</div>
