<div class="block block--facets">
  <h2 class="block__title">Topic</h2>
  <div class="block__content">
    <ul class="js-facets-checkbox-links">
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-1" checked="checked">
        <label for="topic-1">City Budget</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-2">
        <label for="topic-2">Economic Development</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-3">
        <label for="topic-3">Education</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-4">
        <label for="topic-4">Healthcare</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-5">
        <label for="topic-5">Pensions & Fringe Benefits</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-6">
        <label for="topic-6">State Budget</label>
      </li>
      <li class="facet-item">
        <input type="checkbox" class="facets-checkbox" id="topic-7">
        <label for="topic-7">Transportation & Infrastructure</label>
      </li>
    </ul>
  </div>
</div>
